:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-changes: rgb(82,82,237);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box-color {
    background: var(--color-changes);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.camaleon-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.player {
    display: none;
}

.logo {
    position: absolute;
    bottom: 24px;
    right: 16px;
    width: 10vw;
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, .4));
}




/* @media only screen and (max-width: 600px) {
    .container {
        width: 100vw;
        height: 280px;
    }
} */